
/*Pagina principal*/
body {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    /*background-image: url(/imagenes/fondo2.jpg);*/
    background-color: #146b41a1 ;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .navbar {
    padding: 1rem;
    padding-bottom: 8px;
   
    
  }
  .navbar .collapse {
    align-items: center;
    justify-content: space-between;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.288);
    
  }
  section {
    height: 500px;
    margin: 0px;
    padding: 0px;
    background-image: url(/imagenes/fondo1.jpg);
    background-size: cover;
    }
    section h1 {
        color: #0E5432;
        font-size: 50px;
    }
    section .btn-outline-secondary{
        color: #0E5432
    }
    .row h2 {
      font-size: 70px;
    }
  
    .card {
      background-color: #146b41a1;
      display: inline-block;
      width: calc(33.33% - 20px); /* Ancho del 33.33% con un espacio de 10px entre las tarjetas */
      margin-left: 30px;
      margin-top: 20px; /* Espacio de 5px entre las tarjetas */
      vertical-align:auto; 
      box-sizing: border-box; /* Incluir los bordes y el padding en el ancho total */
    }
    

  .card h5{
    color: #AB8A51;
    font-weight: bold;
  }
  .card h3 {
    color: #AB8A51

  }
  .card img{
    width: 300px;
    height: 300px;
  
  }
  .listProductos {
    width: 100%; /* Ajusta el ancho según el contenedor padre */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
  
  }


  footer {
   
    margin: 0px;   
  }
  footer span {
    padding: 10px;
  }
  
  @media screen and (max-width: 767px) {
    .navbar-brand {
      display: none;
    }
  }
  @media screen and (max-width: 807px) {
    .d-block {
      padding: 0px;
    }
    section {
      background-image: url(/imagenes/fondouno.jpg);
      height: 300px;
      background-size: 100%;
      background-repeat: no-repeat;
    }
    section .fw-light {
      color: #146b41a1;
    }
  }
  @media screen and (max-width: 576px) {
    .dropdown {
      display: none;
    }
  }
  .secmail {
    padding-top: 40px;

  }
  .secmail h2 {
    color: #AB8A51;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.288);
  
  }
  .secmail .btn-sus {
    border-bottom: transparent;
    border: 1px;
    font-family: "Montserrat", sans-serif;
  }
.-secmail .input-group{
  padding-right: 20px;
  padding-left: 20px;
}

  .container-fluid {
    padding-left: 0%;
    padding-right: 0%;
  }
  
  /*Formulario*/

  #formulario p {

    color:#AB8A51
  }
